.b1 {
	filter: blur(1px);
}

.b2 {
	filter: blur(2px);
}

.b3 {
	filter: blur(3px);
}

.b4 {
	filter: blur(4px);
}

.b5 {
	filter: blur(5px);
}

.b6 {
	filter: blur(6px);
}

.b7 {
	filter: blur(7px);
}

.b8 {
	filter: blur(8px);
}

.b9 {
	filter: blur(9px);
}

.b10 {
	filter: blur(10px);
}

.b11 {
	filter: blur(11px);
}

.b12 {
	filter: blur(12px);
}

.b13 {
	filter: blur(13px);
}

.b14 {
	filter: blur(14px);
}

.b15 {
	filter: blur(15px);
}

.b20 {
	filter: blur(20px);
}

.b30 {
	filter: blur(30px);
}

.b40 {
	filter: blur(40px);
}

.b50 {
	filter: blur(50px);
}

.b60 {
	filter: blur(60px);
}

.b70 {
	filter: blur(70px);
}

.b80 {
	filter: blur(80px);
}

.b90 {
	filter: blur(90px);
}

.b100 {
	filter: blur(100px);
}

.o1 {
	opacity: .1;
}

.o2 {
	opacity: .2;
}

.o3 {
	opacity: .3;
}

.o4 {
	opacity: .4;
}

.o5 {
	opacity: .5;
}

.o6 {
	opacity: .6;
}

.o7 {
	opacity: .7;
}

.o8 {
	opacity: .8;
}

.o9 {
	opacity: .9;
}

.o10 {
	opacity: 1;
}

.w1 {
	width: 1px;
	height: 1px;
}

.w2 {
	width: 2px;
	height: 2px;
}

.w3 {
	width: 3px;
	height: 3px;
}

.w4 {
	width: 4px;
	height: 4px;
}

.w5 {
	width: 5px;
	height: 5px;
}

.w6 {
	width: 6px;
	height: 6px;
}

.w7 {
	width: 7px;
	height: 7px;
}

.w8 {
	width: 8px;
	height: 8px;
}

.w9 {
	width: 9px;
	height: 9px;
}

.w10 {
	width: 10px;
	height: 10px;
}

.w20 {
	width: 20px;
	height: 20px;
}

.w30 {
	width: 30px;
	height: 30px;
}

.w40 {
	width: 40px;
	height: 40px;
}

.w50 {
	width: 50px;
	height: 50px;
}

.w60 {
	width: 60px;
	height: 60px;
}

.w70 {
	width: 70px;
	height: 70px;
}

.w80 {
	width: 80px;
	height: 80px;
}

.w90 {
	width: 90px;
	height: 90px;
}

.w100 {
	width: 100px;
	height: 100px;
}

/* COLORS */